{% extends 'base.html.twig' %}

{% block title %}History index
{% endblock %}

{% block body %}
	<div class="px-4 sm:px-6 lg:px-8 mt-10">
		<div class="sm:flex sm:items-center">
			<div class="sm:flex-auto">
				<h1 class="text-base font-semibold text-gray-900">History</h1>
				<p class="mt-2 text-sm text-gray-700">A list of all the history records in your account including their title and creation date.</p>
			</div>
			<div class="mt-4 sm:mt-0 sm:ml-16 sm:flex-none">
				<a href="{{ path('app_history_export') }}" class="block rounded-md bg-indigo-600 px-3 py-2 text-center text-sm font-semibold text-white shadow-xs hover:bg-indigo-500 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">
					Export
				</a>
			</div>
		</div>
		<div class="mt-8 flow-root">
			<div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
				<div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8">
					<div class="overflow-hidden shadow-sm ring-1 ring-black/5 sm:rounded-lg">
						<table class="min-w-full divide-y divide-gray-300">
							<thead class="bg-gray-50">
								<tr>
									<th scope="col" class="py-3.5 pr-3 pl-4 text-left text-sm font-semibold text-gray-900 sm:pl-6">Email</th>
									<th scope="col" class="py-3.5 pr-3 pl-4 text-left text-sm font-semibold text-gray-900 sm:pl-6">Name</th>
									<th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Toolbox Name</th>
									<th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Date</th>

								</tr>
							</thead>
							<tbody class="divide-y divide-gray-200 bg-white">
								{% for history in histories %}
									<tr>
										<td class="py-4 pr-3 pl-4 text-sm font-medium whitespace-nowrap text-gray-900 sm:pl-6">{{ history.userId.email }}</td>
										<td class="py-4 pr-3 pl-4 text-sm font-medium whitespace-nowrap text-gray-500 sm:pl-6">{{ history.userId.Lastname }}
											{{ history.userId.Firstname }}</td>
										<td class="px-3 py-4 text-sm whitespace-nowrap text-gray-500">{{ history.title }}</td>
										<td class="px-3 py-4 text-sm whitespace-nowrap text-gray-500">{{ history.createdAt ? history.createdAt|date('m-d-Y H:i:s') : '' }}</td>
									</tr>
								</tbody>
							</tbody>
						</tr>
					{% else %}
						<tr>
							<td colspan="4">no records found</td>
						</tr>
					{% endfor %}

				</tbody>
			</table>
		</div>
	</div>
</div></div></div>{% endblock %}
